# Simplified BSD License (see LICENSES/BSD-2-Clause.txt or https://opensource.org/licenses/BSD-2-Clause)
# SPDX-FileCopyrightText: Ansible Project
# SPDX-License-Identifier: BSD-2-Clause

/CHANGELOG.md
/CHANGELOG.rst
/changelogs/changelog.yaml
/changelogs/fragments/*
/coverage/
/dist/
/test-vectors.yaml
